<li>

									<div class="location-result-title">
										{{name}} - name
										<div class="location-result-subtitle">
											<p class="transparent">-</p>ukraine
										</div>
									</div>

									<div class="location-result-type">
										city
									</div>

								</li>
								<li>
									
									<div class="location-result-title">
										kiyv
										<div class="location-result-subtitle">
											<p class="transparent">-</p>ukraine
										</div>
									</div>

									<div class="location-result-type">
										city
									</div>

								</li>
								<li>
									
									<div class="location-result-title">
										kiyv
										<div class="location-result-subtitle">
											<p class="transparent">-</p> ukraine
										</div>
									</div>

									<div class="location-result-type">
										city
									</div>

								</li>
								<li>
									
									<div class="location-result-title">
										kiyv
										<div class="location-result-subtitle">
											<p class="transparent">-</p>ukraine
										</div>
									</div>

									<div class="location-result-type">
										city
									</div>

								</li>